paper/*.txt
paper/*.pdf
paper/*.dvi
paper/*.bbl
paper/*.pdf
paper/*.blg
paper/*.aux
paper/*.log
paper/*.out
paper/*.synctex.gz
paper/*.fls
paper/*.fdb_latexmk
code_refs/*
code/mldata/
code/results/
code/results/*
code/mldata/*
code/.ipynb_checkpoints/
code/.ipynb_checkpoints/*
code/__pycache__/
code/__pycache__/*
code/fig_code/__pycache__/
code/fig_code/__pycache__/*

*.toc

*.vrb

*.snm

*.nav
